@import url("https://fonts.googleapis.com/css2?family=Yomogi&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgSize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s ease-in-out;
}

#clock {
  font-size: 50px;
  color: black;
  text-shadow: 1px 1px 2px grey;
}

#greeting {
  text-shadow: 1px 1px 2px grey;
}

#quote {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#quote span:first-child {
  margin-right: 10px;
}

#login-form input {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px 0px;
  font-size: 20px;
}

#login-form input:focus {
  outline: none;
}

#login-form input::placeholder {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.login-form__white {
  border-bottom: 2px solid white;
}

.login-form__white input {
  color: white;
}

.login-form__white input::placeholder {
  color: white;
}

.login-form__black input::placeholder {
  color: black;
}

.fadein {
  animation: fadeIn 0.5s ease-in forwards;
}

.lightbtn_theme {
  display: inline-block;
  width: 100px;
  height: 35px;
  position: fixed;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  border-radius: 30px;
  cursor: pointer;
  z-index: 100;
  background-color: #333638;
  color: #c3c9d2;
  border: none;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 1px 1px 2px grey;
}

.lightbtn_theme:hover {
  background-color: #757575;
}
.lightbtn_theme:hover i {
  color: #ffa726;
}

.darkbtn_theme {
  display: inline-block;
  width: 100px;
  height: 35px;
  position: fixed;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  border-radius: 30px;
  cursor: pointer;
  z-index: 100;
  background-color: white;
  color: #5e6266;
  border: none;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 1px 1px 2px grey;
}

.darkbtn_theme:hover {
  background-color: #424242;
  color: white;
}

.darkbtn_theme:hover i {
  color: #fff176;
}

.naturebtn_light_theme {
  display: inline-block;
  width: 100px;
  height: 35px;
  position: fixed;
  top: 10px;
  right: 120px;
  background-repeat: no-repeat;
  border-radius: 30px;
  cursor: pointer;
  z-index: 100;
  background-color: #333638;
  color: #c3c9d2;
  border: none;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 1px 1px 2px grey;
}

.naturebtn_light_theme:hover {
  background-color: #757575;
}
.naturebtn_light_theme:hover i {
  color: #43a047;
}

.naturebtn_dark_theme {
  display: inline-block;
  width: 100px;
  height: 35px;
  position: fixed;
  top: 10px;
  right: 120px;
  background-repeat: no-repeat;
  border-radius: 30px;
  cursor: pointer;
  z-index: 100;
  background-color: white;
  color: #5e6266;
  border: none;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 1px 1px 2px grey;
}

.naturebtn_dark_theme:hover {
  background-color: #424242;
  color: white;
}
.naturebtn_dark_theme:hover i {
  color: #43a047;
}

#weather {
  position: fixed;
  top: 10px;
  left: 10px;
}

.search-bar {
  width: 450px;
  height: 40px;
  border-radius: 30px;
  padding: 0px 40px;
  border: 1px solid #dee1e5;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0.9;
}

.search-bar:focus {
  outline: none;
}

.search-bar:hover {
  box-shadow: 0px 0px 5px grey;
}

.fa-search {
  color: #9ca1a6;
  position: absolute;
  top: 33px;
  left: 15px;
  z-index: 2;
}

.search__container {
  position: relative;
}

.todo_btn_theme {
  border: none;
  outline: none;
  background: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px black;
  font-family: "Yomogi", cursive;
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
}

.todo_btn_theme:hover {
  background-color: #d6cbc7;
}

.todo_btn_light:hover {
  background-color: #424242;
}

.todo_btn_light:hover span {
  color: white;
}

.todo_btn_dark:hover {
  background-color: white;
}

.todo_btn_dark:hover span {
  color: black;
}

#todo-container {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 250px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  box-shadow: 0px 0px 3px grey;
  z-index: 3;
  animation: fadeIn 0.3s linear forwards;
}

#todo-form input {
  border: none;
  background: none;
  width: 220px;
  height: 30px;
  font-size: 12px;
  padding-left: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#todo-form input::placeholder {
  color: black;
  text-align: left;
}

#todo-form input:focus {
  outline: none;
}

.todo-text {
  width: 100%;
  font-family: "Yomogi", cursive;
}

.todo-text h1 {
  text-align: center;
  width: 250px;
  background: black;
  margin: 0px;
  padding: 15px 0px;
  color: white;
  cursor: pointer;
}

#todo-list {
  width: 90%;
  height: 200px;
  list-style: none;
  padding-left: 10px;
  overflow-y: scroll;
  margin: 0;
}

#todo-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px 0px;
}

#todo-list button {
  border: none;
  background: none;
  margin: 0;
  margin-right: 5px;
}

#todo-list button:hover {
  box-shadow: 0 0 2px grey;
}

#todo-box {
  margin-right: 6px;
}

#todo-box:checked + label {
  background-color: black;
  color: white;
  text-decoration: line-through;
}

#weather {
  font-size: 15px;
  font-weight: 600;
}
